$bp-xs: 768px;
$bp-sm: 992px;
$bp-md: 1200px;
$bp-lg: 1920px;

@mixin mobile {
  @media (max-width: #{$bp-xs - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bp-xs) and (max-width: #{$bp-sm - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-sm) {
    @content;
  }
}
